.dashboard-heading {
    background: #C0BCBC;
    min-height: 50px;
    padding-top: 10px
}
.heading-right {
    float: right;
}
.heading-cta-dd {
    display: inline-block;
    padding: 0 10px;
    margin: 0 10px;
}